<h1>ReplyLists#index</h1>
<table width="100%">
    <tr>
        <th>ID</th><th>リプライ</th><th>作った日</th><th>カウント</th><th colspan="2"></th>
    </tr>
    <% @list.each do |obj| %>
    <tr>
        <td width="10%"><%= obj.id %></td>
        <td width="50%"><a href="/detail/<%= obj.id %>"><%= obj.reply %></a></td>
        <td width="30%"><%= obj.created_at %></td>
        <td width="10%"><%= obj.count %></td>
    </tr>
    <% end %>
</table>